.navbar {
  padding: 10px 20px;
  background-color: #2c387e;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar a {
  color: #fff;
}